[source_database_registry]

host = {{ db_registry_host }}
database = {{ db_registry_name }}
user = {{ db_registry_user }}
password = {{ db_registry_password_vault }}

[source_database_proxy]

host = {{ db_proxy_host }}
database = {{ db_proxy_name }}
user = {{ db_proxy_user }}
password = {{ db_proxy_password_vault }}

[source_tables]

ip_table=statistics_ip
vos_comanage=cm_cous
users_comanage=cm_co_people
vo_memberships_comanage=cm_co_person_roles
statistics_country_hashed_comanage=statistics_country_hashed
identity_providers_map_proxy=identityprovidersmap
service_providers_map_proxy=serviceprovidersmap

[destination_database]

host = {{ metrics_db_host }}
database = {{ metrics_db }}
user = {{ metrics_db_user }}
password = {{ metrics_db_password_vault }}

[destination_tables]

#country_table=statistics_country

#user_country_table=statistics_user_country
vos=community
vos_information=community_info
vo_memberships=members
users=users
identity_providers_map=identityprovidersmap
service_providers_map=serviceprovidersmap
statistics_country_hashed=statistics_country_hashed
countries=country_codes

[logging]

level = INFO
folder = log
file = metricsMigrate.log

# [database_file]

# db_filename = GeoLite2-Country.mmdb