{
  "host": "{{ fedreg_agent_ams.host }}",
  "project" : "{{ fedreg_agent_ams.project }}",
  "pull_topic" : "{{ fedreg_agent_mitreid.pull_topic }}",
  "pull_sub" : "{{ fedreg_agent_mitreid.pull_sub }}",
  "token" : "{{ fedreg_agent_ams.token }}",
  "agent_id": "{{ fedreg_agent_mitreid.id }}",
  "pub_topic": "{{ fedreg_agent_ams.pub_topic }}",
  "log_conf": "{{ fedreg_agent_log_conf }}",
  "mitreid_url": "{{ fedreg_agent_mitreid.url }}" ,
  "mitreid_refresh_token": "{{ fedreg_agent_mitreid.refresh_token }}",
  "mitreid_client_id": "{{ fedreg_agent_mitreid.client_id }}",
  "mitreid_client_secret": "{{ fedreg_agent_mitreid.client_secret }}",
  "time_interval": {{ fedreg_agent_ams.time_interval }}
}
