[defaults]
forks           = 10

max_diff_size   = 10444800

[privilege_escalation]
#become          = false
#become_method   = sudo
#become_user     = root
#become_ask_pass = false

[ssh_connection]
# Reduce the number of SSH operations required to execute a module on the
# remote server to improve performance.
pipelining      = true

# Increase the ControlPersist time to 30 minutes
ssh_args        = -o ControlMaster=auto -o ControlPersist=1800s
