# file: group_vars/metrics/main.yml
#
---

metrics_path: /srv/rciam-metrics-client/rciam-metrics
metrics_repo: https://github.com/rciam/rciam-metrics-dev
metrics_latest_release: 1.0.0
metrics_version: main
metrics_fast_api_folder_name: app

metrics_api:
  hostname: "localhost:8004"
  domain: "localhost"
  client: "localhost:3300"
  protocol: "http"
  path: "/"
  log_level: "info"
  log_identifier: "metrics-service"

metrics_db:
  name: metrics-dev
  host: db.example.com
  admin: rciam
  password: secret

metrics_user:
  name: rciam-metrics-client
  path: /srv/rciam-metrics-client
  group: rciam-metrics-client
  gecos: "RCIAM Metrics Client Name"
  shell: /bin/bash
#metrics_symlinks:
#  - target: "/path/to/target"
#    link: "/path/to/symlink"

# OIDC Client
# Giati xreiazetai na exoume pollous client??
metrics_oidc:
  - tenant: tenant1
    client_id: client-id
    client_secret: client-secret
    client_redirect_uri: https://metrics.rciam.example.org/callback
    issuer: https://tenant1.rciam.example.org/auth/realms/rciam
#  - tenant: tenant2
#    client_id: client-id
#    client_secret: client-secret
#    client_redirect_uri: https://metrics.rciam.example.org/callback
#    issuer: https://tenant2.rciam.example.org/auth/realms/rciam

anonymous:
  - view: "dashboard"
    actions: "view"
  - view: "identity_providers"
    actions: "view"
  - view: "service_providers"
    actions: "view"

authenticated:
  - view: "dashboard"
    actions: "view"
  - view: "identity_providers"
    actions: "view"
  - view: "service_providers"
    actions: "view"

administrator:
  - view: "dashboard"
    actions: "view,write"
  - view: "identity_providers"
    actions: "view,write"
  - view: "service_providers"
    actions: "view,write"
  - view: "users"
    actions: "view,write"
  - view: "communities"
    actions: "view,write"

entitlements:
  - entitlement: "entitlement.example.org"
    roles: "administrator"