---
##in format X.Y.Z
## make sure the corresponding templates/X.Y.Z folder and vars/keycloak/X.Y.Z.yml exist
keycloak_version: "15.0.2"

# if the keycloak archive is from the "stage" branch, then you might enable the wayf plugin (keycloak-theme-vanilla)
keycloak_archive_url: "https://github.com/keycloak/keycloak/releases/download/{{keycloak_version}}/keycloak-{{keycloak_version}}.tar.gz"

## if set to true, any existing installation will moved aside (not deleted) and the new keycloak from the archive will be installed.
## if a different database is defined, the installation will be a clear one. If the same (previous) database is used, it will upgrade to the new version.
is_upgrade: false

keycloak_admin:
  user: "<SET AN ADMIN USER>"
  pass: "<SET AN ADMIN PASS>"

keycloak_db:
  name: "<KEYCLOAK DB NAME>"
  user: "<DB USERNAME>"
  pass: "<DB USER PASSWORD>"

keycloak_db_host: "{{ groups['db'][0] }}"
keycloak_proxy_host: "{{ groups['proxy'][0] }}"


keycloak_home: "{{ansible_user_dir}}/keycloak"
keycloak_bind_address: "0.0.0.0"
keycloak_bind_port: "8080"

keycloak_java_opts: "-Xms1024m -Xmx20480m -XX:MaxPermSize=768m"


### plugins
### wayf plugin works ONLY with "stage" branch of keycloak (need to have commit fe055820980dbcb79d5aae2b4dce78b840b912b0)
#keycloak_plugins:
#  wayf:
#    enabled: true
#    name: "keycloak-theme-vanilla" #PLEASE, do not change this
#    jar_url: "<location of plugin jar>"
#    modulexml_url: "https://raw.githubusercontent.com/eosc-kc/keycloak-theme-vanilla/master/module.xml"
#    isTheme: true
#    add_to_realms:
#      - "master"
#  idp_hashedid_mapper:
#    enabled: true
#    name: "keycloak-idp-hashedId-mapper" #PLEASE, do not change this
#    jar_url: "<location of plugin jar>"
#    modulexml_url: "https://raw.githubusercontent.com/eosc-kc/keycloak-idp-hashedId-mapper/master/module.xml"
#    isTheme: false


### Remaining configuration (enc keys, social IdPs, AUP config, SMTP config, etc)
### you can have more than one realms configured here (if it doesn't exist, it will be created). just copy the format of the master and add it in the list.
### also, you can just comment out any of the {key, aup, smtp} sub trees and let the remaining get configured
#config:
#  realms:
#    - name: master
#      key:
#        privateKey: "<SET A PRIVATE KEY"
#        certificate: "<SET A CERTIFICATE>"
#        algorithm: "RSA256"
#      aup:
#        enabled: true
#        defaultAction: true
#        reset_every: 165  # it goes (reset_every * reset_every_multiplier) seconds
#        reset_every_multiplier: 3600 # use 3600 for hours, 86400 for days
#      smtp:
#        host: "smtp.example.com"
#        from_email: "noreply@example.com"
#        port: 25
#        ## values below are optional
#        enable_ssl: true
#        enable_starttls: true
#        from_name: ""
#        reply_to_name: ""
#        reply_to_email: ""
#        envelope_from: ""
#        auth_enabled: false
#        auth_username: ""
#        auth_password: ""
#      social_idps:
#        - providerId: "google" #do not change this
#          alias: "google"  #do not change this
#          trustEmail: ""  #boolean
#          storeToken: ""   #boolean
#          linkOnly: ""    #boolean
#          firstBrokerLoginFlowAlias: "first broker login"
#          postBrokerLoginFlowAlias: ""
#          enabled: true
#          authenticateByDefault: false
#          addReadTokenRoleOnCreate: ""
#          config:
#            clientId: "<CLIENT ID>"
#            clientSecret: "<CLIENT SECRET>"
#            useJwksUrl: "true"
#            syncMode: "IMPORT"  #could be one of {IMPORT, LEGACY, FORCE}
#            acceptsPromptNoneForwardFromClient: ""
#            disableUserInfo: ""  #boolean
#            hideOnLoginPage: ""  #boolean
#            promotedLoginbutton: ""   #boolean
#            defaultScope: ""
#            hostedDomain: ""
#            userIp: ""  #boolean
#            offlineAccess: ""  #boolean
#            conditionalTrustEmail: "" #boolean
#        - providerId: "github" #do not change this
#          alias: "github"  #do not change this
#          trustEmail: ""  #boolean
#          storeToken: ""   #boolean
#          linkOnly: ""    #boolean
#          firstBrokerLoginFlowAlias: "first broker login"
#          postBrokerLoginFlowAlias: ""
#          enabled: true
#          authenticateByDefault: false
#          addReadTokenRoleOnCreate: ""
#          config:
#            clientId: "<CLIENT ID>"
#            clientSecret: "<CLIENT SECRET>"
#            useJwksUrl: "true"
#            syncMode: "IMPORT"  #could be one of {IMPORT, LEGACY, FORCE}
#            acceptsPromptNoneForwardFromClient: ""
#            disableUserInfo: ""  #boolean
#            hideOnLoginPage: ""  #boolean
#            promotedLoginbutton: ""   #boolean
#            defaultScope: ""
#        - providerId: "linkedin" #do not change this
#          alias: "linkedin"  #do not change this
#          trustEmail: ""  #boolean
#          storeToken: ""   #boolean
#          linkOnly: ""    #boolean
#          firstBrokerLoginFlowAlias: "first broker login"
#          postBrokerLoginFlowAlias: ""
#          enabled: true
#          authenticateByDefault: false
#          addReadTokenRoleOnCreate: ""
#          config:
#            clientId: "<CLIENT ID>"
#            clientSecret: "<CLIENT SECRET>"
#            useJwksUrl: "true"
#            syncMode: "IMPORT"  #could be one of {IMPORT, LEGACY, FORCE}
#            acceptsPromptNoneForwardFromClient: ""
#            disableUserInfo: ""  #boolean
#            hideOnLoginPage: ""  #boolean
#            promotedLoginbutton: ""   #boolean
#            defaultScope: ""
#        - providerId: "facebook" #do not change this
#          alias: "facebook"  #do not change this
#          trustEmail: ""  #boolean
#          storeToken: ""   #boolean
#          linkOnly: ""    #boolean
#          firstBrokerLoginFlowAlias: "first broker login"
#          postBrokerLoginFlowAlias: ""
#          enabled: true
#          authenticateByDefault: false
#          config:
#            clientId: "<CLIENT ID>"
#            clientSecret: "<CLIENT SECRET>"
#            useJwksUrl: "true"
#            syncMode: "IMPORT"  #could be one of {IMPORT, LEGACY, FORCE}
#            addReadTokenRoleOnCreate: ""
#            acceptsPromptNoneForwardFromClient: ""
#            disableUserInfo: ""  #boolean
#            hideOnLoginPage: ""  #boolean
#            promotedLoginbutton: ""   #boolean
#            defaultScope: ""
#            fetchedFields: ""
#        - providerId: "instagram" #do not change this
#          alias: "instagram" #do not change this
#          trustEmail: ""  #boolean
#          storeToken: ""   #boolean
#          linkOnly: ""    #boolean
#          firstBrokerLoginFlowAlias: "first broker login"
#          postBrokerLoginFlowAlias: ""
#          enabled: true
#          authenticateByDefault: false
#          addReadTokenRoleOnCreate: ""
#          config:
#            clientId: "<CLIENT ID>"
#            clientSecret: "<CLIENT SECRET>"
#            useJwksUrl: "true"
#            syncMode: "IMPORT"  #could be one of {IMPORT, LEGACY, FORCE}
#            acceptsPromptNoneForwardFromClient: ""
#            disableUserInfo: ""  #boolean
#            hideOnLoginPage: ""  #boolean
#            promotedLoginbutton: ""   #boolean
#            defaultScope: ""
#        - providerId: "microsoft" #do not change this
#          alias: "microsoft" #do not change this
#          trustEmail: ""  #boolean
#          storeToken: ""   #boolean
#          linkOnly: ""    #boolean
#          firstBrokerLoginFlowAlias: "first broker login"
#          postBrokerLoginFlowAlias: ""
#          enabled: true
#          authenticateByDefault: false
#          addReadTokenRoleOnCreate: ""
#          config:
#            clientId: "<CLIENT ID>"
#            clientSecret: "<CLIENT SECRET>"
#            useJwksUrl: "true"
#            syncMode: "IMPORT"  #could be one of {IMPORT, LEGACY, FORCE}
#            acceptsPromptNoneForwardFromClient: ""
#            disableUserInfo: ""  #boolean
#            hideOnLoginPage: ""  #boolean
#            promotedLoginbutton: ""   #boolean
#            defaultScope: ""
#        - providerId: "bitbucket" #do not change this
#          alias: "bitbucket" #do not change this
#          trustEmail: ""  #boolean
#          storeToken: ""   #boolean
#          linkOnly: ""    #boolean
#          firstBrokerLoginFlowAlias: "first broker login"
#          postBrokerLoginFlowAlias: ""
#          enabled: true
#          authenticateByDefault: false
#          addReadTokenRoleOnCreate: ""
#          config:
#            clientId: "<CLIENT ID>"  # consumer key
#            clientSecret: "<CLIENT SECRET>"  # consumer secret
#            useJwksUrl: "true"
#            syncMode: "IMPORT"  #could be one of {IMPORT, LEGACY, FORCE}
#            hideOnLoginPage: ""  #boolean
#            promotedLoginbutton: ""   #boolean
#            defaultScope: ""
#        - providerId: "twitter" #do not change this
#          alias: "twitter" #do not change this
#          trustEmail: ""  #boolean
#          storeToken: ""   #boolean
#          linkOnly: ""    #boolean
#          firstBrokerLoginFlowAlias: "first broker login"
#          postBrokerLoginFlowAlias: ""
#          enabled: true
#          authenticateByDefault: false
#          addReadTokenRoleOnCreate: ""
#          config:
#            clientId: "<CLIENT ID>"
#            clientSecret: "<CLIENT SECRET>"
#            useJwksUrl: "true"
#            syncMode: "IMPORT"  #could be one of {IMPORT, LEGACY, FORCE}
#            acceptsPromptNoneForwardFromClient: ""
#            disableUserInfo: ""  #boolean
#            hideOnLoginPage: ""  #boolean
#            promotedLoginbutton: ""   #boolean
#            defaultScope: ""
#        - providerId: "gitlab" #do not change this
#          alias: "gitlab" #do not change this
#          trustEmail: ""  #boolean
#          storeToken: ""   #boolean
#          linkOnly: ""    #boolean
#          firstBrokerLoginFlowAlias: "first broker login"
#          postBrokerLoginFlowAlias: ""
#          enabled: true
#          authenticateByDefault: false
#          addReadTokenRoleOnCreate: ""
#          config:
#            clientId: "<CLIENT ID>"  # application id
#            clientSecret: "<CLIENT SECRET>"  # application secret
#            useJwksUrl: "true"
#            syncMode: "IMPORT"  #could be one of {IMPORT, LEGACY, FORCE}
#            hideOnLoginPage: ""  #boolean
#            promotedLoginbutton: ""   #boolean
#            defaultScope: ""
#        - providerId: "paypal" #do not change this
#          alias: "paypal" #do not change this
#          trustEmail: ""  #boolean
#          storeToken: ""   #boolean
#          linkOnly: ""    #boolean
#          firstBrokerLoginFlowAlias: "first broker login"
#          postBrokerLoginFlowAlias: ""
#          enabled: true
#          authenticateByDefault: false
#          addReadTokenRoleOnCreate: ""
#          config:
#            clientId: "<CLIENT ID>"
#            clientSecret: "<CLIENT SECRET>"
#            useJwksUrl: "true"
#            syncMode: "IMPORT"  #could be one of {IMPORT, LEGACY, FORCE}
#            sandbox: ""  #boolean
#            acceptsPromptNoneForwardFromClient: ""
#            disableUserInfo: ""  #boolean
#            hideOnLoginPage: ""  #boolean
#            promotedLoginbutton: ""   #boolean
#            defaultScope: ""
#        - providerId: "stackoverflow" #do not change this
#          alias: "stackoverflow" #do not change this
#          trustEmail: ""  #boolean
#          storeToken: ""   #boolean
#          linkOnly: ""    #boolean
#          firstBrokerLoginFlowAlias: "first broker login"
#          postBrokerLoginFlowAlias: ""
#          enabled: true
#          authenticateByDefault: false
#          addReadTokenRoleOnCreate: ""
#          config:
#            clientId: "<CLIENT ID>"
#            clientSecret: "<CLIENT SECRET>"
#            key: "<USE A KEY>"
#            useJwksUrl: "true"
#            syncMode: "IMPORT"  #could be one of {IMPORT, LEGACY, FORCE}
#            acceptsPromptNoneForwardFromClient: ""
#            disableUserInfo: ""  #boolean
#            hideOnLoginPage: ""  #boolean
#            promotedLoginbutton: ""   #boolean
#            defaultScope: ""
#        - providerId: "openshift-v4" #do not change this
#          alias: "use-an-alias-here-too"
#          trustEmail: ""  #boolean
#          storeToken: ""   #boolean
#          linkOnly: ""    #boolean
#          firstBrokerLoginFlowAlias: "first broker login"
#          postBrokerLoginFlowAlias: ""
#          enabled: true
#          authenticateByDefault: false
#          addReadTokenRoleOnCreate: ""
#          config:
#            clientId: "<CLIENT ID>"
#            clientSecret: "<CLIENT SECRET>"
#            baseUrl: ""
#            useJwksUrl: "true"
#            syncMode: "IMPORT"  #could be one of {IMPORT, LEGACY, FORCE}
#            disableUserInfo: ""  #boolean
#            hideOnLoginPage: ""  #boolean
#            promotedLoginbutton: ""   #boolean
#        - providerId: "openshift-v3" #do not change this
#          alias: "use-an-alias-here-too"
#          trustEmail: ""  #boolean
#          storeToken: ""   #boolean
#          linkOnly: ""    #boolean
#          firstBrokerLoginFlowAlias: "first broker login"
#          postBrokerLoginFlowAlias: ""
#          enabled: true
#          authenticateByDefault: false
#          addReadTokenRoleOnCreate: ""
#          config:
#            clientId: "<CLIENT ID>"
#            clientSecret: "<CLIENT SECRET>"
#            baseUrl: ""
#            useJwksUrl: "true"
#            syncMode: "IMPORT"  #could be one of {IMPORT, LEGACY, FORCE}
#            disableUserInfo: ""  #boolean
#            hideOnLoginPage: ""  #boolean
#            promotedLoginbutton: ""   #boolean

