# file: tasks/configure.yml
---
# This needs the metrics_latest_release, only github actions can know or if you set it manually
- name: Download and unarchive latest release zip file
  unarchive: 
    src: "{{ metrics_repo }}/releases/download/{{ metrics_latest_release }}/react-github-actions-release-build.tar.gz"
    dest: "{{ metrics_path }}"
    remote_src: true
    owner: "{{ metrics_user.name }}"
    group: "{{ metrics_user.name }}"
  become: yes

- name: Ensure fastapi is configured
  template:
    src: "fastapi/config.py.j2"
    dest: "{{ metrics_path }}/config.py"
    owner: "{{ metrics_user.name }}"
    group: "{{ metrics_user.group }}"
    mode: 0400
    backup: yes
  become: yes

- name: Construct authorization config file
  template:
    src: "fastapi/authorize.py.j2"
    dest: "{{ metrics_path }}/authorize.py"
    owner: "{{ metrics_user.name }}"
    group: "{{ metrics_user.group }}"
    mode: 0400
    backup: yes
  become: yes

- name: Restart fastapi service
  systemd:
    name: fastapi
    state: restarted
    daemon_reload: yes
    enabled: yes
  become: yes

- name: Create Symbolic links
  file:
    src: "{{ item.target }}"
    dest: "{{ item.link }}"
    force: yes
    state: link
    owner: root
    group: root
  loop: "{{ metrics_symlinks | default([]) }}"
  become: true
  when: metrics_symlinks is defined

