dn: olcOverlay=syncprov,olcDatabase={1}mdb,cn=config
changetype: add
objectClass: olcOverlayConfig
objectClass: olcSyncProvConfig
olcOverlay: syncprov

dn: olcDatabase={1}mdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: {{ openldap_base }}
-
replace: olcRootDN
olcRootDN: cn=admin,{{ openldap_base }}
-
replace: olcRootPW
olcRootPW: {{ openldap_admin_password }}
-
add: olcSyncRepl
olcSyncRepl: rid=003 provider={{openldap_olc_server_ids[0].uri}} binddn="{{ openldap_bind_id }}" bindmethod=simple
  credentials={{ openldap_admin_password }} searchbase="{{ openldap_base }}" type=refreshOnly
  interval=00:00:00:10 retry="5 5 300 5" timeout=1
olcSyncRepl: rid=004 provider={{openldap_olc_server_ids[1].uri}} binddn="{{ openldap_bind_id }}" bindmethod=simple
  credentials={{ openldap_admin_password }} searchbase="{{ openldap_base }}" type=refreshOnly
  interval=00:00:00:10 retry="5 5 300 5" timeout=1
-
add: olcMirrorMode
olcMirrorMode: TRUE

dn: olcDatabase={1}mdb,cn=config
changetype:  modify
add: olcDbIndex
olcDbIndex: entryCSN eq
olcDbIndex: entryUUID eq