# {{ ansible_managed }}

[source_database]

host = {{ lookup('dig', groups['dbmaster'][0]) }}
database = {{ rciam_dbs.proxy.name }}
user = {{ rciam_dbs.proxy.owner_username }}
password = {{ rciam_dbs.proxy.owner_password }}

[source_tables]

ip_table = {{ rciam_utils_ip2country.source_tables.ip_table}}

[destination_database]

host = {{ rciam_utils_ip2country.destination_database.host | default(lookup('dig', groups['dbmaster'][0])) }}
database = {{ rciam_utils_ip2country.destination_database.database | default(rciam_dbs.registry.name) }}
user = {{ rciam_utils_ip2country.destination_database.user | default(rciam_dbs.registry.owner_username) }}
password = {{ rciam_utils_ip2country.destination_database.password | default(rciam_dbs.registry.owner_password) }}

[destination_tables]

country_table = {{ rciam_utils_ip2country.destination_tables.country_table}}
country_hashed_table = {{ rciam_utils_ip2country.destination_tables.country_hashed_table }}
user_country_table = {{ rciam_utils_ip2country.destination_tables.user_country_table}}

[logging]

level = {{ rciam_utils_ip2country.logging.level}}
folder = {{ rciam_utils_ip2country.logging.folder}}
file = {{ rciam_utils_ip2country.logging.file}}

{% if rciam_utils_ip2country.mmdb_filename is defined %}
[database_file]

db_filename = {{ rciam_utils_ip2country.mmdb_filename }}
{% endif %}
