[Unit]
Description=Gunicorn Daemon for FastAPI Application
After=network.target

[Service]
User={{ metrics_user.name }}
Group=www-data
Restart=always
WorkingDirectory={{ metrics_path }}
Environment="PATH={{ metrics_path }}/.venv/bin"
ExecStart={{ metrics_path }}/.venv/bin/gunicorn -w 8 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000 --log-level {{ metrics_api.log_level }} --timeout {{ metrics_api.timeout }}

[Install]
WantedBy=multi-user.target

