[database_parameters]
db = {{ item.config.db.host }}
db_admin = {{ item.config.db.admin }}
db_password = {{ item.config.db.password }}
database_url = postgresql+psycopg2://{{ item.config.db.admin }}:{{ item.config.db.password }}@{{ item.config.db.host }}/{{ item.config.db.name }}

[server_config]
protocol = {{ item.config.api.protocol }}
host = {{ item.config.api.hostname }}
client = {{ item.config.api.client }}
domain = {{ item.config.api.domain }}
api_path = {{ item.config.api.path }}

[oidc_client]
client_id = {{ item.config.oidc.client_id }}
client_secret = {{ item.config.oidc.client_secret }}
issuer = {{ item.config.oidc.issuer }}
redirect_uri = {{ item.config.oidc.client_redirect_uri }}

