##
# {{ ansible_managed }}
##

{% for upstream_group in nginx_upstream_groups %}
upstream {{ upstream_group.name }} {
{% if upstream_group.load_balancing_method is defined %}
    {{ upstream_group.load_balancing_method }};
{% endif %}
{% for upstream_server in upstream_group.servers %}
    server {{ upstream_server.address }}
        weight={{ upstream_server.weight | default(1) }}
{% if upstream_server.backup is defined and upstream_server.backup %}
        backup
{% endif %}
{% if upstream_server.down is defined and upstream_server.down %}
        down
{% endif %}
        max_fails={{ upstream_server.max_fails | default(1) }};
{% endfor %}
}
{% endfor %}
{% if nginx_geo is defined %}

{% for geos in nginx_geo %}
geo {{ geos.name }} {
{% for ip_range in geos.ip_ranges %}
    {{ ip_range.range }} {{ ip_range.allow | default(0) }};
{% endfor %}
    default {{ geos.default }};
}
{% endfor %}
{% endif %}

{% for vhost in nginx_vhosts %}
server {
{% if vhost.listen is defined %}
{% for listen_parameters in vhost.listen %}
    listen {{ listen_parameters }};
{% endfor %}
{% endif %}
    server_name {{ vhost.server_name }};
{% if vhost.root is defined %}
    root {{ vhost.root }};
{% endif %}
{% if vhost.certificate_file is defined %}
    ssl_certificate     {{ vhost.certificate_file }};
{% endif %}
{% if vhost.certificate_key_file is defined %}
    ssl_certificate_key {{ vhost.certificate_key_file }};
{% endif %}
{% if vhost.extra_parameters is defined %}

    {{ vhost.extra_parameters | indent(width=4, indentfirst=False) }}
{% endif %}
}
{% endfor %}
