{% if federation_registry_ams is defined %}
AMS_PROJECT={{ federation_registry_ams.project }}
AMS_BASE_URL={{ federation_registry_ams.host }}
AMS_USER_TOKEN={{ federation_registry_ams.token }}
AMS_ADMIN_TOKEN={{ federation_registry_ams.admin_token }}
{% endif %}
EXPRESS_URL=http://localhost:5000
{% if federation_registry_ams is defined %}
EXPRESS_KEY={{ federation_registry_ams.agent_key }}
{% endif %}