{
  "host": "{{federation_registry_db.host}}",
  "port": "{{federation_registry_db.port}}",
  "database": "{{federation_registry_db.name}}",
  "user": "{{federation_registry_db.owner_username}}",
  "password":"{{federation_registry_db.owner_password}}"
}
