{
  "host": "{{rciam_dbs.federation.host}}",
  "port": "{{rciam_dbs.federation.port}}",
  "database": "{{rciam_dbs.federation.name}}",
  "user": "{{rciam_dbs.federation.owner_username}}",
  "password":"{{rciam_dbs.federation.owner_password}}"
}
