REACT_BASE=https://{{inventory_hostname}}
REDIRECT_URI=https://{{inventory_hostname}}/express/callback/
EXPRESS_BASE = https://{{inventory_hostname}}
AMS_AGENT_KEY={{federation_registry_ams.agent_key}}
AMS_AUTH_KEY={{ams_auth_key}}
AMS_VER_HASH = {{ams_verif_hash}}
