module.exports = {
  apps : [
  {% if inventory_hostname in groups['ams-agent'] %}
    {
      name        : "ams_agent",
      script      : "{{federation_registry_ams_agent_path}}/app.js",
    },
  {% endif %}
  {
    name       : "express",
    script     : "{{federation_registry_express_path}}/JavaScript/index.js"
  }]
}
