#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

BASE {{ openldap_base }}
URI ldaps://{{ openldap_org }}.{{ openldap_tld }}

#SIZELIMIT	12
#TIMELIMIT	15
#DEREF		never

# TLS certificates (needed for GnuTLS)
TLS_CACERT      /etc/ldap/cacerts/{{ openldap_ca_certificate_file }}
TLS_REQCERT     allow
