<?php
/**
 * Configuration of SimpleSAMLphp themevanila.
 * {{ ansible_managed }}
 */
$config = [
    'cookiePolicy' => [
{% for cookie_policy in ssp_module_themevanilla_cookie_policies %}
        [
            'type' => '{{ cookie_policy.type }}',
            'provider' => '{{ cookie_policy.provider }}',
            'name' => '{{ cookie_policy.name }}',
            'thirdParty' => {{ cookie_policy.third_party }},
            'category' => '{{ cookie_policy.category }}',
            'purpose' => '{{ cookie_policy.purpose }}',
        ],
{% endfor %}
    ],
{% if ssp_module_themevanilla_views is defined %}
    'views' => [
{% for view_name, view_url in ssp_module_themevanilla_views.items() %}
        '{{ view_name }}' => '{{ view_url }}',
{% endfor %}
    ],
{% endif %}
{% if ssp_module_themevanilla_loader is defined %}
    'loader' => '{{ ssp_module_themevanilla_loader }}',
{% endif %}
    'enable_cookies_banner' => {{ ssp_module_themevanilla_enable_cookies_banner }},
    'ribbon_text' => '{{ ssp_module_themevanilla_ribbon_text }}',
];
