---

- name: Acquire tokens
  include_tasks: blocks/helpers/get_tokens.yml

- name: "Get current IdP with alias : {{ item[1].data.alias }} and realm: {{ item[0].name }}"
  include_tasks: blocks/helpers/get_realm_idp.yml
  vars:
    alias: "{{ item[1].data.alias }}"

- name: "{% if new_idp %}Installing{% else %}Updating{% endif %} saml IdP: {{ item[1].data.alias }}"
  block:
    - name: "Get config from url: {{ item[1].metadataUrl }}"
      uri:
        url: "{{ keycloak_proxy_host }}/admin/realms/{{ item[0].name }}/identity-provider/import-config"
        method: POST
        body_format: json
        headers:
          Authorization: "Bearer {{ tokens.json.access_token }}"
        body:
          fromUrl: "{{ item[1].metadataUrl }}"
          providerId: "{{ item[1].data.providerId }}"
        status_code: 200
      register: idp_result

    - name: "Setup saml IdP {{ item[1].data.alias }}"
      uri:
        url: "{{ keycloak_proxy_host }}/admin/realms/{{ item[0].name }}/identity-provider/instances{% if new_idp %}{% else %}/{{ item[1].data.alias }}{% endif %}"
        method: "{% if new_idp %}POST{% else %}PUT{% endif %}"
        body_format: json
        headers:
          Authorization: "Bearer {{ tokens.json.access_token }}"
        body:
          "{{ { 'config': idp_result.json } | combine( item[1].data, recursive=True ) }}"
        status_code: "{% if new_idp %}201{% else %}204{% endif %}"
