<?php
/*
 * The SimpleSAMLphp authentication sources
 * {{ ansible_managed }}
 */

$config = [

    // This is a authentication source which handles admin authentication.
    'admin' => [
        // The default is to use core:AdminPassword, but it can be replaced with
        // any authentication source.

        'core:AdminPassword',
    ],

{% for authsource in ssp_authsources_saml %}
    '{{ authsource.name }}' => [
        'saml:SP',
{% if authsource.entity_id is defined %}
        // The entity ID of this SP.
        // Can be NULL/unset, in which case an entity ID is generated based on the metadata URL.
        'entityID' => '{{ authsource.entity_id }}',
{% endif %}
{% if authsource.idp is defined %}
        // The entity ID of the IdP this should SP should contact.
        // Can be NULL/unset, in which case the user will be shown a list of available IdPs.
        'idp' => '{{ authsource.idp }}',
{% endif %}
{% if authsource.disco_url is defined %}
        // The URL to the discovery service.
        // Can be NULL/unset, in which case a builtin discovery service will be used.
        'discoURL' => '{{ authsource.disco_url }}',
{% endif %}
{% if authsource.ssl_certificate_generate|default(True) or authsource.ssl_certificate is defined %}
        // X.509 key and certificate. Relative to the cert directory.
        'privatekey' => 'sp-{{ authsource.name }}.key',
        'certificate' => 'sp-{{ authsource.name }}.crt',
{% if authsource.sign_algorithm is defined %}
        // Algorithm to use when signing any message generated by this SP.
        'signature.algorithm' => '{{ authsource.sign_algorithm }}',
{% endif %}
{% if authsource.redirect_sign is defined %}
        // Whether authentication requests, logout requests and logout responses
        // sent from this SP should be signed.
        'redirect.sign' => {{ authsource.redirect_sign }},
{% endif %}
{% if authsource.redirect_validate is defined %}
        // Whether logout requests and logout responses received received by
        // this SP should be validated.
        'redirect.validate' => {{ authsource.redirect_validate }},
{% endif %}
{% if authsource.sign_authnrequest is defined %}
        // Whether to sign authentication requests sent from this SP.
        'sign.authnrequest' => {{ authsource.sign_authnrequest }},
{% endif %}
{% if authsource.sign_logout is defined %}
        // Whether to sign logout messages sent from this SP.
        'sign.logout' => {{ authsource.sign_logout }},
{% endif %}
{% endif %}
{% if authsource.display_name is defined %}
        'name' => [
{% for key, value in authsource.display_name.items() %}
            '{{ key }}' => '{{ value }}',
{% endfor %}
        ],
{% endif %}
{% if authsource.description is defined %}
        'description' => [
{% for key, value in authsource.description.items() %}
            '{{ key }}' => '{{ value }}',
{% endfor %}
        ],
{% endif %}
{% if authsource.privacy_statement_url is defined %}
        'privacypolicy' => [
{% for key, value in authsource.privacy_statement_url.items() %}
            '{{ key }}' => '{{ value }}',
{% endfor %}
        ],
{% endif %}
{% if authsource.entity_attributes is defined %}
        'EntityAttributes' => [
{% for entity_attribute in authsource.entity_attributes %}
            '{{ entity_attribute.attribute_name }}' => [
{% for entity_attribute_value in entity_attribute.attribute_values %}
                '{{ entity_attribute_value }}',
{% endfor %}
            ],
{% endfor %}
        ],
{% endif %}
{% if authsource.organization_name is defined %}
        // Localised names of the organisation responsible for this SP.
        'OrganizationName' => [
{% for key, value in authsource.organization_name.items() %}
            '{{ key }}' => '{{ value }}',
{% endfor %}
        ],
{% endif %}
{% if authsource.organization_display_name is defined %}
        // Localised user-friendly names of the organisation responsible for
        // this SP.
        'OrganizationDisplayName' => [
{% for key, value in authsource.organization_display_name.items() %}
            '{{ key }}' => '{{ value }}',
{% endfor %}
        ],
{% endif %}
{% if authsource.organization_url is defined %}
        // Localised URLs of the organisation responsible for this SP.
        'OrganizationURL' => [
{% for key, value in authsource.organization_url.items() %}
            '{{ key }}' => '{{ value }}',
{% endfor %}
        ],
{% endif %}
{% if authsource.contacts is defined %}
        // List of contacts in addition to the technical contact configured
        // through config/config.php
        'contacts' => [
{% for contact in authsource.contacts %}
            [
                'contactType'       => '{{ contact.contact_type }}',
{% if contact.company is defined %}
                'company'           => '{{ contact.company }}',
{% endif %}
{% if contact.given_name is defined %}
                'givenName'         => '{{ contact.given_name }}',
{% endif %}
{% if contact.sur_name is defined %}
                'surName'           => '{{ contact.sur_name }}',
{% endif %}
{% if contact.email_address is defined %}
                'emailAddress'      => '{{ contact.email_address }}',
{% endif %}
{% if contact.telephone_number is defined %}
                'telephoneNumber'   => '{{ contact.telephone_number }}',
{% endif %}
{% if contact.attributes is defined %}
                'attributes'        => [
{% for key, value in contact.attributes.items() %}
                    '{{ key }}' => '{{ value }}',
{% endfor %}
                ],
{% endif %}
            ],
{% endfor %}
        ],
{% endif %}
        'UIInfo' => [
{% if authsource.display_name is defined %}
            'DisplayName' => [
    {% for key, value in authsource.display_name.items() %}
            '{{ key }}' => '{{ value }}',
    {% endfor %}
            ],
{% endif %}
{% if authsource.description is defined %}
            'Description' => [
    {% for key, value in authsource.description.items() %}
            '{{ key }}' => '{{ value }}',
    {% endfor %}
            ],
{% endif %}
{% if authsource.logos is defined %}
            'Logo' => [
{% for logo in authsource.logos %}
                [
                    'url' => '{{ logo.url }}',
                    'height' => {{ logo.height }},
                    'width' => {{ logo.width }},
{% if logo.lang is defined %}
                    'lang' => '{{ logo.lang }}',
{% endif %}
                ],
{% endfor %}
            ],
{% endif %}
{% if authsource.information_url is defined %}
            'InformationURL' => [
{% for key, value in authsource.information_url.items() %}
                '{{ key }}' => '{{ value }}',
{% endfor %}
            ],
{% endif %}
{% if authsource.privacy_statement_url is defined %}
            'PrivacyStatementURL' => [
{% for key, value in authsource.privacy_statement_url.items() %}
                '{{ key }}' => '{{ value }}',
{% endfor %}
            ],
{% endif %}
        ],
{% if authsource.attributes is defined %}
        /*
         * The attributes parameter contains an array of all attributes
         * requested by the SP (both optional and mandatory).
         * The attributes can be expressed as an array of names or as an
         * associative array in the form of 'friendlyName' => 'name'.
         */
        'attributes' => [
{% if authsource.attributes['required'] is defined %}
{% for key, value in authsource.attributes['required'].items() %}
            '{{ key }}' => '{{ value }}',
{% endfor %}
{% endif %}
{% if authsource.attributes['optional'] is defined %}
{% for key, value in authsource.attributes['optional'].items() %}
            '{{ key }}' => '{{ value }}',
{% endfor %}
{% endif %}
        ],
{% if authsource.attributes['required'] is defined %}
        /*
         * The attributes.required parameter contains the attributes
         * required by the SP (mandatory).
         * The attributes can be expressed as an array of names or as an
         * associative array in the form of 'friendlyName' => 'name'.
         */
        'attributes.required' => [
{% for key, value in authsource.attributes['required'].items() %}
            '{{ key }}' => '{{ value }}',
{% endfor %}
        ],
{% endif %}
{% if authsource.attributes['name_format'] is defined %}
        'attributes.NameFormat' => '{{ authsource.attributes['name_format'] }}',
{% endif %}
{% endif %}
{% if authsource.name_id_policy is defined %}
        // The format of the NameID we request from the IdP.
{% if authsource.name_id_policy == false %}
        // Set to false to omit sending any specific NameIDPolicy in the AuthnRequest.
        'NameIDPolicy' => false,
{% elif authsource.name_id_policy == None %}
        // null is equivalent to transient - DEPRECATED
        'NameIDPolicy' => null,
{% elif authsource.name_id_policy is string %}
        // Using string to specify format - DEPRECATED
        'NameIDPolicy' => '{{ authsource.name_id_policy }}',
{% else %}
        'NameIDPolicy' => [
            'Format' => '{{ authsource.name_id_policy.format }}',
            'AllowCreate' => {{ authsource.name_id_policy.allow_create }},
        ],
{% endif %}
{% endif %}
{% if authsource.acs_bindings is defined %}
        // List of supported ACS bindings
        'acs.Bindings' => [
{% for binding in authsource.acs_bindings %}
            '{{ binding }}',
{% endfor %}
        ],
{% endif %}
{% if authsource.authproc is defined %}
        'authproc' => [
{% for entry in authsource.authproc %}
{% for priority, filter_params in entry.items() %}
            {{ priority }} => [
{% for key, value in filter_params.items() %}
{% if value == None %}
                '{{ key }}',
{% elif value is iterable and value is not string %}
                '{{ key }}' => [
{% for item in value %}
                    '{{ item }}',
{% endfor %}
                ],
{% elif value == true or value == false or value is number %}
                '{{ key }}' => {{ value }},
{% else %}
                '{{ key }}' => '{{ value }}',
{% endif %}
{% endfor %}
            ],
{% endfor %}
{% endfor %}
        ],
{% elif authsource.authproc_raw is defined %}
        'authproc' => [
            {{ authsource.authproc_raw | indent(width=12, indentfirst=False) }}
        ],
{% endif %}
    ],

{% endfor %}
{% if ssp_authsources_facebook is defined %}
{% for authsource in ssp_authsources_facebook %}
    '{{ authsource.name }}' => [
        'authfacebook:Facebook',
        'api_key' => '{{ authsource.api_key }}',
        'secret' => '{{ authsource.secret }}',
{% if authsource.req_perms is defined %}
        // List of additional permissions to request from user
        'req_perms' => '{{ authsource.req_perms }}',
{% endif %}
{% if authsource.user_fields is defined %}
        // List of additional user profile fields to request
        'user_fields' => '{{ authsource.user_fields }}',
{% endif %}
    ],

{% endfor %}
{% endif %}
{% if ssp_authsources_linkedin is defined %}
{% for authsource in ssp_authsources_linkedin %}
    '{{ authsource.name }}' => [
        'authlinkedin:LinkedIn',
        'key' => '{{ authsource.key }}',
        'secret' => '{{ authsource.secret }}',
{% if authsource.user_fields is defined %}
        'user_fields' => '{{ authsource.user_fields }}',
{% endif %}
    ],

{% endfor %}
{% endif %}
{% if ssp_authsources_orcid is defined %}
{% for authsource in ssp_authsources_orcid %}
    '{{ authsource.name }}' => [
        'authorcid:ORCID',
        'clientId' => '{{ authsource.client_id }}',
        'clientSecret' => '{{ authsource.client_secret }}',
    ],

{% endfor %}
{% endif %}
{% if ssp_authsources_extra_config is defined %}
  {{ ssp_authsources_extra_config | indent(width=4, indentfirst=False) }}

{% endif %}
];
