[Unit]
Description=Keycloak app
After=network.target

[Service]
Type=idle
Environment=JBOSS_HOME={{ keycloak_home }} JBOSS_LOG_DIR={{ keycloak_logs_folder }} "JAVA_OPTS={{ keycloak_java_opts }}"
User={{ keycloak_service_user }}
Group={{ keycloak_service_user }}
ExecStart=/bin/bash -c "{{ keycloak_home }}/bin/standalone.sh --server-config=standalone-ha.xml -Djboss.bind.address={{ keycloak_bind_address }} -Djboss.bind.address.management={{ keycloak_bind_address }} -Djboss.http.port={{ keycloak_bind_port }} -Djboss.server.log.dir={{ keycloak_logs_folder }} {% if keycloak_extra_run_params is defined and keycloak_extra_run_params|length > 0 %} {{ keycloak_extra_run_params }} {% endif %}"
TimeoutStartSec=600
TimeoutStopSec=600
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
