[Unit]
Description=Keycloak app
After=network.target

[Service]
Type=idle
Environment=JBOSS_HOME={{keycloak_home}} JBOSS_LOG_DIR={{keycloak_home}}/standalone/log "JAVA_OPTS={{ keycloak_java_opts }}"
User={{ansible_user_id}}
Group={{ansible_user_id}}
ExecStart=/bin/bash -c "{{keycloak_home}}/bin/standalone.sh --server-config=standalone-ha.xml -Djboss.bind.address={{ keycloak_bind_address }} -Djboss.bind.address.management={{ keycloak_bind_address }} -Djboss.http.port={{ keycloak_bind_port }}"
TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
