# {{ ansible_managed }}

mitreid_config = {
{% if rciam_utils_sync_client_names.op == "mitreid" %}
    "dbname": "{{ rciam_dbs.oidc.name }}",
    "user": "{{ rciam_dbs.oidc.owner_username }}",
    "host": "{{ rciam_dbs.oidc.host }}",
    "password": "{{ rciam_dbs.oidc.owner_password }}"
{% endif %}
}

keycloak_config = {
{% if rciam_utils_sync_client_names.op == "keycloak" %}
    "dbname": "{{ rciam_dbs.keycloak.name }}",
    "user": "{{ rciam_dbs.keycloak.owner_username }}",
    "host": "{{ rciam_dbs.keycloak.host }}",
    "password": "{{ rciam_dbs.keycloak.owner_password }}",
    "realm": "{{ rciam_utils_sync_client_names.realm }}"
{% endif %}
}

proxystats_config = {
    "dbname": "{{ rciam_dbs.proxy.name }}",
    "user": "{{ rciam_dbs.proxy.owner_username }}",
    "host": "{{ rciam_dbs.proxy.host }}",
    "password": "{{ rciam_dbs.proxy.owner_password }}"
}
