# {{ ansible_managed }}
{# Set up VirtualHosts #}
{% for vhost in apache_vhosts %}
<VirtualHost *:{{ apache_http_port }}>
  ServerName {{ vhost.servername }}
{% if vhost.serveralias is defined %}
  ServerAlias {{ vhost.serveralias }}
{% endif %}
{% if vhost.usecanonicalname is defined %}
  UseCanonicalName {{ vhost.usecanonicalname }}
{% endif %}
{% if vhost.documentroot is defined %}
  DocumentRoot {{ vhost.documentroot }}
{% endif %}

{% if vhost.serveradmin is defined %}
  ServerAdmin {{ vhost.serveradmin }}
{% endif %}
{% if vhost.documentroot is defined %}
  <Directory "{{ vhost.documentroot }}">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
  </Directory>
{% endif %}
{% if vhost.extra_parameters is defined %}
  {{ vhost.extra_parameters | indent(width=2, first=False) }}
{% endif %}
</VirtualHost>

{% endfor %}

{# Set up SSL VirtualHosts #}
{% for vhost in apache_vhosts_ssl %}
{% if apache_ignore_missing_ssl_certificate or apache_ssl_certificates.results[loop.index0].stat.exists %}
<VirtualHost *:{{ apache_https_port }}>
  ServerName {{ vhost.servername }}
{% if vhost.serveralias is defined %}
  ServerAlias {{ vhost.serveralias }}
{% endif %}
{% if vhost.usecanonicalname is defined %}
  UseCanonicalName {{ vhost.usecanonicalname }}
{% endif %}
{% if vhost.documentroot is defined %}
  DocumentRoot {{ vhost.documentroot }}
{% endif %}

  SSLEngine on
{% if apache_ssl_cipher_suite is defined %}
  SSLCipherSuite "{{ apache_ssl_cipher_suite }}"
{% endif %}
{% if apache_ssl_protocol is defined %}
  SSLProtocol {{ apache_ssl_protocol }}
{% endif %}
  SSLCertificateFile {{ vhost.certificate_file }}
  SSLCertificateKeyFile {{ vhost.certificate_key_file }}
{% if vhost.certificate_chain_file is defined %}
  SSLCertificateChainFile {{ vhost.certificate_chain_file }}
{% endif %}

{% if vhost.serveradmin is defined %}
  ServerAdmin {{ vhost.serveradmin }}
{% endif %}
{% if vhost.documentroot is defined %}
  <Directory "{{ vhost.documentroot }}">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
  </Directory>
{% endif %}
{% if vhost.extra_parameters is defined %}
  {{ vhost.extra_parameters | indent(width=2, first=False) }}
{% endif %}
</VirtualHost>

{% endif %}
{% endfor %}
