---

- name: Acquire tokens
  uri:
    url: "{{ keycloak_proxy_host }}/realms/master/protocol/openid-connect/token"
    method: POST
    body_format: form-urlencoded
    body:
      client_id: "admin-cli"
      username: "{{keycloak_admin.user}}"
      password: "{{keycloak_admin.pass}}"
      grant_type: "password"
  register: "tokens"    # token is in "tokens.json.access_token"
  tags:
    - "keycloak:config:realm:federations"
    - "keycloak:config:realm:idps"
    - "keycloak:config:realm:oidc_idps"
    - "keycloak:config:realm:saml_idps"
    - "keycloak:config:realm:social_idps"
