{
	"norway": {
		"en": "Norway"
	},
	"kalmar": {
		"en": "Kalmar"
	},
	"finland": {
		"en": "Finland"
	},
	"sweden": {
		"en": "Sweden"
	},
	"iceland": {
		"en": "Iceland"
	},
	"denmark": {
		"en": "Denmark"
	},
	"switzerland": {
		"en": "Switzerland"
	},
	"edugain": {
		"en": "eduGAIN"
	},
	"misc": {
		"en": "Miscellaneous"
	},
	"incommon": {
		"en": "InCommon"
	},
	"ukacessfederation": {
		"en": "UK Access Federation"
{% if ssp_mod_discopower_dictionaries is defined %}
{% for entry in ssp_mod_discopower_dictionaries %}
{% for tab, translations in entry.items() %}
{% for lang, translation in translations.items() %}
{% if lang == 'en' %}
	},
	"{{ tab }}": {
		"{{ lang }}": "{{ translation }}"
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}
	}
}
